# Ignore Everything
/*


# Git configuration
!.gitignore
!.gitconfig.sample
!.git-completion.bash


# Bash configuration
!.bashrc
!.bash_profile

!/.bash-config/
/.bash-config/*
!/.bash-config/.alias-config
!/.bash-config/.local-alias-config
!.bash-config/.ssh-config


# Vim configuration
!.ideavimrc
!.vimrc

!/.vim-config/
/.vim-config/*
!/.vim-config/.vim-config


# Gradle configuration
!gradle.properties.sample


# Additional files
!README.md
!LICENSE
