# Ignore Everything
/*


# Git configuration
!.gitignore
!.gitconfig.sample
!.git-completion.bash


# Bash configuration
!.bashrc
!.bash_profile

!/.bash-config/
/.bash-config/*
!/.bash-config/.alias-config
!/.bash-config/.config-extensions
!/.bash-config/.defaults.template
!/.bash-config/.ssh-config
!/.bash-config/.vim-config


# Git Bash Prompt
!/.config/
/.config/*
!/.config/git/
/.config/git/**
!/.config/git/git-prompt.sh


# Vim configuration
!.ideavimrc
!.vimrc


# Additional Tools
!/.tools/


# Additional files
!README.md
!LICENSE
